.productList{
    display: flex;
    padding: 20px;
}

@media screen and (max-width: 500px) {
    
    .productList{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        object-fit: cover;

        &.grid{
            width: 96%;
            height: 100px;
        }
       
    }

    

}