.header{
    display: flex;
	justify-content: space-between;
	align-items: center;        
    padding: 10px 10px 10px 10px;    
    background-color: #232F3E;

    

}

.header_logo{
    margin: 3px;
    width: 50px;
    cursor: pointer;
}

.ipt{
 border-radius: .2rem;
 width: 400px;
 height: 30px;
 border: solid 2px lightgray;; 
 outline: none;
}

.cart{
    height: 35px;
    color: white;
    cursor: pointer;
}

.btn_header{
    height: 35px;
    outline: none;
    
}

@media screen and (max-width: 600px) {
    .btn_header{
        display: none;
    }

    .ipt{
        border-radius: .2rem;
        width: 200px;
        height: 30px;
        border: solid 2px lightgray;; 
        outline: none;
       }
}

@media screen and (max-width: 600px) {
    .ipt{
        border-radius: .2rem;
        width: 100px;
        height: 30px;
        border: solid 2px lightgray;; 
        outline: none;
       }
}