.productDetails{
    display: flex;
    padding: 20px; 
    background-color: white;  
}
    .swiper{        
        margin: 0 !important;
        flex: 0.4;

    }

    .image-swipe{
        height: 100%;
        width: 100%;        
        object-fit: cover;
    }

    .details{
        flex: 0.4;
        margin-left: 20px;
    }
    .btnCart{
        background-color: #ffc914;
        border-color: #eab500;
        border-radius: 0.5rem;
        margin: 10px;
    }
    .iptCart{
    border-radius: 0.2rem;
    
    height: 20px;
    border: solid 1pxlightgray;
    outline: none;
    margin: 5px;
    }

    .addCart{
        flex: 0.2;
        margin: 10px;
        position: absolute;
        top: 50%;
        left: 80%;


    }

    @media screen and (max-width: 800px) {
    
        .productDetails{
            display: block;
            padding: 20px; 
            background-color: white;  
        }

        .details{
            flex: 0;
        }
        .addCart{
            flex: 0;
            position: sticky;
            top: 0%;
            left:0%;
        }
        
    
    }